<a class="CGtC98" href="/apple-iphone-14-starlight-256-gb/p/itmc922ddc8af349?pid=MOBGHWFHBJGZYRZC&amp;lid=LSTMOBGHWFHBJGZYRZCUALABX&amp;marketplace=FLIPKART&amp;q=iphone+14&amp;store=tyy%2F4io&amp;spotlightTagId=FkPickId_tyy%2F4io&amp;srno=s_1_1&amp;otracker=search&amp;fm=organic&amp;iid=54c81822-b3fc-411a-a511-af5b319524a6.MOBGHWFHBJGZYRZC.SEARCH&amp;ppt=None&amp;ppn=None&amp;ssid=2nnvz419vk0000001742548050307&amp;qH=860f3715b8db08cd" rel="noopener noreferrer" target="_blank">
  
  <div class="yKfJKb row">
    <div class="col col-5-12 BfVC2z">
      <div class="cN1yYO">
        <div class="hl05eU">
          <div class="Nx9bqj _4b5DiR">₹64,999</div>
          <div class="yRaY8j ZYYwLA">
            ₹<!--  -->69,900
          </div>
          <div class="UkUFwK">
            <span>7% off</span>
          </div>
        </div>
        <div class="k6cAZE dlFt9U">
          <div>
            <div class="yiggsN" style="color:#000000;font-size:12px;font-weight:400">Free delivery</div>
          </div>
        </div>
      </div>
      <div class="_0CSTHy">
        <img height="21" src="//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png" />
      </div>
      <div class="M4DNwV">
        <div class="n5vj9c">
          <div class="yiggsN O5Fpg8" style="color:#26A541;font-size:12px;font-style:normal;font-weight:700">Save extra with combo offers</div>
        </div>
      </div>
      <div class="M4DNwV">
        <div class="n5vj9c">
          <div class="yiggsN O5Fpg8" style="color:#000000;font-size:14px;font-style:normal;font-weight:400">Upto</div>
          <div class="yiggsN O5Fpg8" style="color:#000000;font-size:14px;font-style:normal;font-weight:700">₹38,150</div>
          <div class="yiggsN O5Fpg8" style="color:#000000;font-size:14px;font-style:normal;font-weight:400">Off on Exchange</div>
        </div>
      </div>
    </div>
  </div>
</a>
